---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="awards">
  <div class="pb-12 mt-5">
    <div class="text-4xl font-bold mb-8">Awards & Honors</div>
    
    <ul class="space-y-3">
      <li><span class="text-red-600 font-semibold">ICML'22 Outstanding Paper Award</span></li>
      <li><span class="text-red-600 font-semibold">CIKM'22 Best Demo Paper Award</span></li>
      <li>INFORMS ICQSR'24 Best Paper Competition Award, 2024.</li>
      <li>NeurIPS Scholar Award, 2023.</li>
      <li>Student Travel Grant Award, Texas A&M University, 2022, 2023.</li>
      <li>Chinese Undergraduates Mathematics Competitions, 1st class (Rank: 6/60k+), Mar. 2015.</li>
      <li>National Scholarship for Outstanding Graduate Student (top 3%), USTC, Oct. 2018.</li>
      <li>National Scholarship for Outstanding Graduate Student (top 1%), HIT, Sep. 2015.</li>
      <li>Outstanding Graduate Students Awards, USTC & Anhui Province, Apr. 2019.</li>
      <li>Outstanding Undergraduate Students Awards, HIT, Jul. 2016.</li>
      <li>China Aerospace Science and Technology Corporation Grants, HIT, 2013, 2014, 2015.</li>
    </ul>
  </div>
</BaseLayout>
