---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="experience">
  <div class="pb-12 mt-5">
    <div class="text-4xl font-bold mb-8">Education</div>
    
    <div class="mb-6">
      <p><strong>Texas A&M University, College Station</strong>, Aug. 2019 - Sep. 2023</p>
      <p>– Ph.D. in Computer Science and Engineer Department</p>
      <p>– <a href="http://people.tamu.edu/~guangzhou92/Data_Lab/" class="link link-primary">DATA</a> Lab, supervision by Prof. <a href="https://people.engr.tamu.edu/xiahu/index.html" class="link link-primary">Xia Ben Hu</a></p>
    </div>
    
    <div class="mb-6">
      <p><strong>University Science and Technology of China, Hefei</strong>, Sep. 2016 - Jun. 2019</p>
      <p>– M.S. in Information and Communication Engineering</p>
    </div>
    
    <div class="mb-8">
      <p><strong>Harbin Institute of Technology, Harbin</strong>, Aug. 2012 - Jun. 2016</p>
      <p>– B.S. in Electronic and Information Engineering</p>
    </div>

    <div class="text-4xl font-bold mb-8">Experience</div>
    
    <div class="mb-6">
      <p><strong>Research Assistant in DATA Lab at TAMU, College Station</strong>, Sep. 2019 - present</p>
      <p>– Supervisor: Dr. Xia Hu</p>
      <p>– Research topics: Trustworthy machine learning</p>
    </div>
    
    <div class="mb-6">
      <p><strong>Applied Scientist Intern at Amazon Search</strong>, Oct. 2022 - Jan. 2023</p>
      <p>– Supervisor: <a href="https://www.tangxianfeng.net/" class="link link-primary">Dr. Xianfeng Tang</a>, <a href="https://hmjianggatech.github.io/" class="link link-primary">Dr. Haoming Jiang</a>, and <a href="https://jingfengyang.github.io/" class="link link-primary">Jingfeng Yang</a></p>
      <p>– Research topics: Environmental Friendly Query-Based Recommender System.</p>
    </div>
    
    <div class="mb-6">
      <p><strong>Research Intern at Visa Research</strong>, May. 2022 - Aug 2022</p>
      <p>– Supervisor: <a href="https://usa.visa.com/about-visa/visa-research/huiyuan-chen.html" class="link link-primary">Dr. Huiyuan Chen</a> and <a href="https://usa.visa.com/about-visa/visa-research/hao-yang.html" class="link link-primary">Dr. Hao Yang</a></p>
      <p>– Research topics: Graph Influence Function.</p>
    </div>
    
    <div class="mb-8">
      <p><strong>Research Intern at Samsung Research America Ads AI team, Remotely</strong>, May. 2020 - Aug 2020</p>
      <p>– Supervisor: <a href="https://scholar.google.com/citations?user=FPcI7HkAAAAJ&hl=en" class="link link-primary">Dr. Li Li</a> and <a href="https://scholar.google.com/citations?user=ngVttWUAAAAJ&hl=en" class="link link-primary">Dr. Rui Chen</a></p>
      <p>– Research topics: Improving the performance of models deployed on the digital advertising platform via multi-task learning and hyperparameter tuning.</p>
    </div>

    <div class="text-4xl font-bold mb-8">Services</div>
    
    <div class="mb-4">
      <p>Conference Reviewer:</p>
    </div>
    
    <div class="mb-4">
      <p>Senior PC Member: CIKM'23 (demo track), CIKM'25</p>
    </div>
    
    <div class="mb-4">
      <p>PC Member:</p>
      <ul class="list-disc mx-6 space-y-1">
        <li>NeurIPS: 22-24</li>
        <li>ICML: 22-25</li>
        <li>ICLR: 24-25</li>
        <li>KDD: 23</li>
        <li>LOG: 22-23</li>
        <li>AAAI: 23-24</li>
        <li>IJCAI: 23</li>
        <li>WACV: 23-24</li>
        <li>CIKM: 23</li>
        <li>SDM: 23</li>
        <li>ICLR'20, KDD'20, CIKM'20, WSDM'21 (External)</li>
      </ul>
    </div>
    
    <div class="mb-4">
      <p>Journal Reviewer:</p>
      <ul class="list-disc mx-6 space-y-1">
        <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</li>
        <li>IEEE Transactions on Knowledge and Data Engineering (TKDE)</li>
        <li>ACM Transactions on Knowledge Discovery in Data (TKDD)</li>
        <li>ACM Transactions on Intelligent Systems and Technology (TIST)</li>
        <li>IEEE Transactions on Cognitive and Developmental Systems (TCDS)</li>
        <li>Data Mining and Knowledge Discovery (DAMI)</li>
        <li>Neurocomputing</li>
        <li>Entropy</li>
        <li>IEEE Transactions on Information Forensics and Security (TIFS)</li>
        <li>Digital Signal Processing (DSP)</li>
        <li>IEEE Communications Letter (CL)</li>
        <li>IEEE Wireless Communications Letter (WCL)</li>
        <li>EURASIP Journal on Wireless Communications and Networking</li>
      </ul>
    </div>
    
    <div class="mb-8">
      <p>Student Volunteer: ICML'22, ICHI'23</p>
    </div>

    <div class="text-4xl font-bold mb-8">Talks</div>
    
    <ul class="list-disc mx-6 space-y-3">
      <li>Oct. 2023: Invited talk by Professor Islem Rekik at Imperial College London@<a href="https://basira-lab.com/" class="link link-primary">BASIRA</a>. <a href="http://zhimengj0326.github.io/files/Fairness_IC_slides.pdf" class="link link-primary">[Slides]</a> <a href="https://www.youtube.com/watch?v=FKfpoBejHnw&t=4496s" class="link link-primary">[Video]</a></li>
      <li>Aug, 2023: invited tutorial at <a href="https://sites.google.com/view/kdd-mlf-2023" class="link link-primary">Machine Learning in Finance Workshop</a> at KDD 2023. <a href="http://zhimengj0326.github.io/files/Fairness_tutorial_KDD23@MLF.pdf" class="link link-primary">[Slides]</a></li>
      <li>Jun, 2022: I gave an invited talk on Fairness in Graph at Visa Research Intern Seminar.</li>
      <li>Jun, 2022: I gave an invited talk at <a href="http://www.aitime.cn/" class="link link-primary">AI-Time</a>.</li>
    </ul>
  </div>
</BaseLayout>
