---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="publications">
  <div class="pb-12 mt-5">
    <div class="text-4xl font-bold mb-8">Publications(* indicates equal contribution)</div>

    <div class="text-3xl font-bold mb-6">Conference/Journal Papers</div>
    
    <div class="space-y-8">
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">A Compact Model for Large-Scale Time Series Forecasting</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Chin-Chia Michael Yeh, Xiran Fan, <strong>Zhimeng Jiang</strong>, Yujie Fan, Huiyuan Chen, Uday Singh Saini, Vivian Lai, Xin Dai, Junpeng Wang, Zhongfang Zhuang, Liang Wang, Yan Zheng
          </div>
          <div class="text-sm font-semibold text-gray-800">
            2025 IEEE International Conference on Big Data, Publication date: 2025/2/28
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Towards Efficient Large Scale Spatial-Temporal Time Series Forecasting via Improved Inverted Transformers</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Jiarui Sun, Chin-Chia Michael Yeh, Yujie Fan, Xin Dai, Xiran Fan, <strong>Zhimeng Jiang</strong>, Uday Singh Saini, Vivian Lai, Junpeng Wang, Huiyuan Chen, Zhongfang Zhuang, Yan Zheng, Girish Chowdhary
          </div>
          <div class="text-sm font-semibold text-gray-800">
            2025 IEEE International Conference on Big Data, Publication date: 2025/3/13
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Enhancing Foundation Models in Transaction Understanding with LLM-based Sentence Embeddings</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Xiran Fan, <strong>Zhimeng Jiang</strong>, Chin-Chia Michael Yeh, Yuzhong Chen, Yingtong Dou, Menghai Pan, Yan Zheng
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Conference on Empirical Methods in Natural Language Processing (<span class="text-red-600">EMNLP</span>), 2025 (Industry)
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">LoRATK: LoRA Once, Backdoor Everywhere in the Share-and-Play Ecosystem</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Hongyi Liu, Shaochen Zhong, Xintong Sun, Minghao Tian, Mohsen Hariri, Zirui Liu, Ruixiang Tang, <strong>Zhimeng Jiang</strong>, Jiayi Yuan, Yu-Neng Chuang, Li Li, Soo-Hyun Choi, Rui Chen, Vipin Chaudhary, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Conference on Empirical Methods in Natural Language Processing (<span class="text-red-600">EMNLP</span>), 2025 (Findings)
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">MAIN-RAG: Multi-Agent Filtering Retrieval-Augmented Generation</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Chia-Yuan Chang, <strong>Zhimeng Jiang</strong>, Vineeth Rakesh, Menghai Pan, Chin-Chia Michael Yeh, Guanchu Wang, Mingzhi Hu, Zhichao Xu, Yan Zheng, Mahashweta Das, Na Zou
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Annual Meeting of the Association for Computational Linguistics (<span class="text-red-600">ACL</span>), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">CODA: Temporal Domain Generalization via Concept Drift Simulator</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Chia-Yuan Chang, Yu-Neng Chuang, <strong>Zhimeng Jiang</strong>, Kwei-Herng Lai, Anxiao Jiang, Na Zou
          </div>
          <div class="text-sm font-semibold text-gray-800 mb-1">
            ACM SIGKDD Conference on Knowledge Discovery and Data Mining (<span class="text-red-600">KDD</span>), 2025
          </div>
          <div class="text-sm text-red-600 font-semibold">
            INFORMS ICQSR'24 Best Paper Competition Award
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Understanding and Mitigating Memorization in Diffusion Models for Tabular Data</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Zhengyu Fang*, <strong>Zhimeng Jiang</strong>*, Huiyuan Chen, Xiao Li, Jing Li
          </div>
          <div class="text-sm font-semibold text-gray-800">
            International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">On Explaining Equivariant Graph Networks via Improved Relevance Propagation</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Hongyi Ling, Haiyang Yu, <strong>Zhimeng Jiang</strong>, Na Zou, Shuiwang Ji
          </div>
          <div class="text-sm font-semibold text-gray-800">
            International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">You Only Debias Once: Towards Flexible Accuracy-Fairness Trade-offs at Inference Time</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Xiaotian Han, Tianlong Chen, Kaixiong Zhou, <strong>Zhimeng Jiang</strong>, Zhangyang Wang, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Conference on Parsimony and Learning (<span class="text-red-600">CPAL</span>) (Oral), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Data-centric Artificial Intelligence: A Survey</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Daochen Zha, Zaid Pervaiz Bhat, Kwei-Herng Lai, Fan Yang, <strong>Zhimeng Jiang</strong>, Shaochen Zhong, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            ACM Computing Surveys (<span class="text-red-600">ACM CSUR</span>), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Counterfactual Fairness on Graphs: Augmentations, Hidden Confounders, and Identifiability          </a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Hongyi Ling, <strong>Zhimeng Jiang</strong>, Na Zou, Shuiwang Ji
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Transactions on Machine Learning Research (<span class="text-red-600">TMLR</span>), 2025
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Gradient Rewiring for Editable Graph Neural Network Training</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
              <strong>Zhimeng Jiang</strong>, Zirui Liu, Xiaotian Han, Qizhang Feng, Hongye Jin, Qiaoyu Tan, Kaixiong Zhou, Na Zou, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Conference on Advances in Neural Information Processing Systems (<span class="text-red-600">NeurIPS</span>), 2024
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">GNNs Also Deserve Editing, and They Need It More Than Once</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Shaochen Zhong, Duy Le, Zirui Liu, <strong>Zhimeng Jiang</strong>, ..., Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2024
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/abs/2401.01325" class="link link-primary hover:text-primary-focus">LLM Maybe LongLM: Self-Extend LLM Context Window Without Tuning</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Hongye Jin, Xiaotian Han, Jingfeng Yang, <strong>Zhimeng Jiang</strong>, Zirui Liu, Chia-Yuan Chang, Huiyuan Chen, Xia Hu, Mahashweta Das, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2024
          </div>
          <div class="text-sm text-red-600 font-semibold">
            Highlighted during Google I/O session
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Chasing Fairness in Graphs: A GNN Architecture Perspective</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Xiaotian Han, Chao Fan, Zirui Liu, Na Zou, Ali Mostafavi, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            AAAI Association for the Advancement of Artificial Intelligence (<span class="text-red-600">AAAI</span>), 2024
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Learning Alignment and Compactness in Collaborative Filtering</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Huiyuan Chen, Vivian Lai, Hongye Jin, <strong>Zhimeng Jiang</strong>, Mahashweta Das, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            ACM International Conference Web Search and Data Mining (<span class="text-red-600">WSDM</span>), 2024
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/pdf/2303.03300.pdf" class="link link-primary hover:text-primary-focus">Chasing Fairness under Distribution Shift: a Model Weight Perturbation Approach</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            Zhimeng Jiang*, Xiaotian Han*, Hongye Jin, Guanchu Wang, Rui Chen, Na Zou, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          Conference on Advances in Neural Information Processing Systems (<span class="text-red-600">NeurIPS</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Fair Graph Distillation</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Qizhang Feng, <strong>Zhimeng Jiang</strong>, Ruiquan Li, Yicheng Wang, Na Zou, Jiang Bian, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          Conference on Advances in Neural Information Processing Systems (<span class="text-red-600">NeurIPS</span>), 2023<
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/pdf/2305.15265.pdf" class="link link-primary hover:text-primary-focus">Winner-Take-All Column Row Sampling for Memory Efficient Adaptation of Language Model</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Zirui Liu, Guanchu Wang, Shaochen Zhong, Zhaozhuo Xu, Daochen Zha, Ruixiang Tang, <strong>Zhimeng Jiang</strong>, Kaixiong Zhou, Vipin Chaudhary, Shuai Xu, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          Conference on Advances in Neural Information Processing Systems (<span class="text-red-600">NeurIPS</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/pdf/2305.15265.pdf" class="link link-primary hover:text-primary-focus">Editable Graph Neural Network for Node Classifications</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Zirui Liu*, <strong>Zhimeng Jiang*</strong>, Shaochen Zhong, Kaixiong Zhou, Li Li, Rui Chen, Soo-Hyun Choi, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          In The 26th ACM SIGKDD International Conference on Knowledge Discovery & Data Mining on Mining and Learning with Graphs Workshop (<span class="text-red-600">KDDW</span>), 21-27 Jul 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://openreview.net/forum?id=SaVEXFuozg&referrer=%5BAuthor%20Console%5D(%2Fgroup%3Fid%3DTMLR%2FAuthors%23your-submissions)" class="link link-primary hover:text-primary-focus">DSpar: Embarrassingly Simple Strategy for Efficient GNN training and inference via Degree-based Sparsification</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Zirui Liu, Kaixiong Zhou, <strong>Zhimeng Jiang</strong>, Li Li, Rui Chen, Soo-Hyun Choi, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          Transactions on Machine Learning Research (<span class="text-red-600">TMLR</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://openreview.net/forum?id=LjDFIWWVVa&referrer=%5BAuthor%20Console%5D(%2Fgroup%3Fid%3DTMLR%2FAuthors%23your-submissions)" class="link link-primary hover:text-primary-focus">Retiring DeltaDP: New Distribution-Level Metrics for Demographic Parity</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>*, Xiaotian Han*, Hongye Jin*, Zirui Liu, Na Zou, Qifan Wang, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          Transactions on Machine Learning Research (<span class="text-red-600">TMLR</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">DIVISION: Memory Efficient Training via Dual Activation Precision</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Guanchu Wang, Zirui Liu, <strong>Zhimeng Jiang</strong>, Ninghao Liu, Na Zou, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Graph Mixup with Soft Alignments</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Hongyi Ling, <strong>Zhimeng Jiang</strong>, Meng Liu, Shuiwang Ji, Na Zou
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Probabilistic Masked Attention Networks for Next-item Recommendation</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Huiyuan Chen, Kaixiong Zhou, <strong>Zhimeng Jiang</strong>, Michael Yeh, Xiaoting Li, Menghai Pan, Yan Zheng, Xia Hu, Hao Yang
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Joint Conference on Artificial Intelligence (<span class="text-red-600">IJCAI</span>), 2023
          </div>        
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="#" class="link link-primary hover:text-primary-focus">Hierarchy-Aware Multi-Hop Question Answering over Knowledge Graphs</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Junnan Dong, Qinggang Zhang, Xiao Huang, Keyu Duan, Qiaoyu Tan, <strong>Zhimeng Jiang</strong>
          </div>
          <div class="text-sm font-semibold text-gray-800">
          The Web Conference (formerly <span class="text-red-600">WWW</span>), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://openreview.net/forum?id=1_OGWcP1s9w&referrer=%5BAuthor%20Console%5D(%2Fgroup%3Fid%3DTMLR%2FAuthors%23your-submissions)" class="link link-primary hover:text-primary-focus">Learning Fair Graph Representations via Automated Data Augmentations</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Hongyi Ling, <strong>Zhimeng Jiang</strong>, Youzhi Luo, Shuiwang Ji, Na Zou
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Learning Representations (<span class="text-red-600">ICLR</span> Spotlight), 2023
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://dl.acm.org/doi/pdf/10.1145/3606274.3606281" class="link link-primary hover:text-primary-focus">Adaptive Risk-Aware Bidding with Budget Constraint in Display Advertising</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Kaixiong Zhou, Mi Zhang, Rui Chen, Xia Hu, and Soo-Hyun Choi
          </div>
          <div class="text-sm font-semibold text-gray-800">
            The ACM SIGKDD Explorations Newsletter, 2023 (also presented in AAAI Conference on Artificial Intelligence (AAAI) @ AI for Web Advertising Workshop, 2023.)
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/abs/2202.07179" class="link link-primary hover:text-primary-focus">G-Mixup: Graph Augmentation for Graph Classification</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Xiaotian Han, <strong>Zhimeng Jiang</strong>, Ninghao Liu, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Machine Learning (<span class="text-red-600">ICML</span>), 2022
          </div>
          <div class="text-sm font-semibold text-gray-800">
          <a href="https://icml.cc/virtual/2022/awards_detail" class="link link-primary hover:text-primary-focus"><span class="text-red-600 font-semibold">Outstanding Paper Award</span></a>
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://openreview.net/forum?id=ecH2FKaARUp" class="link link-primary hover:text-primary-focus">An Information Fusion Approach to Learning with Instance-Dependent Label Noise</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Kaixiong Zhou, Zirui Liu, Li Li, Rui Chen, Soo-Hyun Choi, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Learning Representations (<span class="text-red-600">ICLR</span>), 2022
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://openreview.net/forum?id=YigKlMJwjye" class="link link-primary hover:text-primary-focus">Generalized Demographic Parity for Group Fairness</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Xiaotian Han, Chao Fan, Fan Yang, Ali Mostafavi, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          International Conference on Learning Representations (<span class="text-red-600">ICLR</span>), 2022
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/abs/2202.06241" class="link link-primary hover:text-primary-focus">Geometric Graph Representation Learning via Maximizing Rate Reduction</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Xiaotian Han, <strong>Zhimeng Jiang</strong>, Ninghao Liu, Qingquan Song, Jundong Li, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          The Web Conference (formerly <span class="text-red-600">WWW</span>), 2022
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://arxiv.org/abs/2202.07503" class="link link-primary hover:text-primary-focus">BED: A Real-Time Object Detection System for Edge Devices</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>*, Guanchu Wang*, Zaid Pervaiz Bhat*, Yi-Wei Chen*, Daochen Zha*, Alfredo Costilla Reyes*, Afshin Niktash, Gorkem Ulkar, Erman Okman, Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
          ACM International Conference on Information and Knowledge Management (<span class="text-red-600">CIKM</span>), 2022 (demo)
          </div>
          <div class="text-sm font-semibold text-gray-800">
          <a href="https://www.cikm2022.org/best-paper" class="link link-primary hover:text-primary-focus"><span class="text-red-600 font-semibold">Best Demo Paper Award</span></a>
        </div>
      </div>
    </div>

    <div class="text-3xl font-bold mb-6 mt-10">Paper related to Optical Wireless Communication</div>
    
    <div class="space-y-6">
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/9452170" class="link link-primary hover:text-primary-focus">On the Achievable Rate and Capacity of a Sample-Based Practical Photon-Counting Receiver</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, Guanchu Wang, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE Transactions on Communications, vol. 69, no. 9, pp. 6152-6169, Sept. 2021
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/8845769" class="link link-primary hover:text-primary-focus">Achievable Rates and Signal Detection for Photon-Level Photomultiplier Receiver Based on Statistical Non-Linear Model</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE Transactions on Wireless Communications, vol. 18, no. 12, pp. 6015-6029, Dec. 2019
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/9200897" class="link link-primary hover:text-primary-focus">On the sum-rate capacity of Poisson multiple access channel with a sample-based practical photon-counting receiver</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, Guanchu Wang, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Journal of Communications and Information Networks, vol. 5, no. 3, pp. 335-349, Sept. 2020
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/document/8453026/" class="link link-primary hover:text-primary-focus">Clipping Noise and Power Allocation for OFDM-Based Optical Wireless Communication Using Photon Detection</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE Wireless Communications Letters, vol. 8, no. 1, pp. 237-240, Feb. 2019
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/8761763" class="link link-primary hover:text-primary-focus">Statistical Non-linear Model and Achievable Rates for Photon-level Photomultiplier Receiver</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE International Conference in Communications(ICC), Shanghai, China, May 20-24, 2019
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/8757168" class="link link-primary hover:text-primary-focus">Achievable Rate Bounds on Poisson channel with a Sample-Based Practical Photon-Counting Receiver</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Chen Gong, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE International Conference in Communications Workshops (ICC Workshops), Shanghai, China, May 20-24, 2019
          </div>
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/8845642" class="link link-primary hover:text-primary-focus">Multi-Layer Superimposed Transmission for Optical Wireless Scattering Communication</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Guanchu Wang, Chen Gong, <strong>Zhimeng Jiang</strong>, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE Photonics Journal, vol. 11, no. 5, pp. 1-14, Oct. 2019
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8332484&tag=1" class="link link-primary hover:text-primary-focus">A 1Mbps Real-Time NLOS UV Scattering Communication System With Receiver Diversity Over 1km</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Guanchu Wang, Kun Wang, Chen Gong, Difan Zou, <strong>Zhimeng Jiang</strong>, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE Photonics Journal, vol. 10, no. 2, pp. 1-13, Apr. 2018
          </div>        
        </div>
      </div>

      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://ieeexplore.ieee.org/abstract/document/8403738" class="link link-primary hover:text-primary-focus">Characterization on Asynchronous Multiple Access in Non-Line of Sight Scattering Communication</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
          Guanchu Wang, Chen Gong, <strong>Zhimeng Jiang</strong>, and Zhengyuan Xu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            IEEE International Conference on Communications Workshops (ICC Workshops), Kansas City, MO, USA, May 20-24, 2018
        </div>
      </div>
    </div>

    <div class="text-3xl font-bold mb-6 mt-10">Tutorials</div>
    
    <div class="space-y-6">
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://sites.google.com/view/kdd-mlf-2023/schedule?authuser=0" class="link link-primary hover:text-primary-focus">Algorithmic Fairness in Finance: Problems, Methods and Benchmarks</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Xiaotian Han, Chia-Yuan Chang, Na Zou, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            Machine Learning in Finance Workshop in ACM SIGKDD Conference on Knowledge Discovery and Data Mining(KDD2023@MLF)
          </div>
          <div class="text-sm font-semibold text-gray-800">
          <a href="https://sites.google.com/view/kdd-mlf-2023/schedule?authuser=0" class="link link-primary hover:text-primary-focus">[Website]</a> <a href="http://zhimengj0326.github.io/files/Fairness_tutorial_KDD23@MLF.pdf" class="link link-primary hover:text-primary-focus">[Slides]</a> <a href="http://zhimengj0326.github.io/files/fairness_case_study.ipynb" class="link link-primary hover:text-primary-focus">[Code]</a>
        </div>
      </div>
    </div>

    <div class="text-3xl font-bold mb-6 mt-10">Patents</div>
    
    <div class="space-y-6">
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://patents.google.com/patent/US20230089895A1/en" class="link link-primary hover:text-primary-focus">System and Methods for Bid Optimization in Real-Time Bidding</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Kaixiong Zhou, Mi Zhang, Rui Chen, Xia Hu, and Soo-Hyun Choi
          </div>
          <div class="text-sm font-semibold text-gray-800">
            US Patent App. 17/676,687
          </div>
        </div>
      </div>
      
      <div class="border-l-4 border-primary pl-6 py-4 bg-gray-50 rounded-r-lg">
        <div class="text-base text-gray-800">
          <div class="text-lg font-bold mb-2">
            <a href="https://patents.google.com/patent/US20230259762A1/en" class="link link-primary hover:text-primary-focus">Machine learning with instance-dependent label noise</a>
          </div>
          <div class="text-sm text-gray-700 mb-2">
            <strong>Zhimeng Jiang</strong>, Kaixiong Zhou, Zirui Liu, Li Li, Rui Chen, Soo-Hyun Choi, and Xia Hu
          </div>
          <div class="text-sm font-semibold text-gray-800">
            US Patent App. 17/972,302
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
